<div id="wrapper">
<h1>User Interface Index page</h1>
  <ul>
  <% @books.each do |book| %>
  <li>
    <%=image_tag book.image.url, class: "fixed_size" %>
    <%= image_tag book.images.first.author_img_url, class: "fixed_size" %>
    <%= link_to book.title, book_path(book), class: "bookTitle" %>
  </li>
  <% end %>
  </ul>
</div>