// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.author_image {
	max-width: 100px;
	height: auto;
}

textarea#book_notes {
	width: 75%;
	height: 500px;
}