// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea.short_summary {
	width: 70%;
}

h1 {
	font-family: 'Bad Script', cursive;
}

dd {
	margin: 15px;
	pre {
		font-size: 1.5em;
	}
}

.table {
	thead tr {
		background-color: black;
		color: white;
	}
	tbody {

		tr:nth-child(even) {
			background-color: #ECECEC;
		}
		tr {
			&:hover {
				background-color: lightblue;
			}
		}
	}
}