// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categorySnippet {
	li {
		background-color: maroon;
		border-radius: 1em;
		border: 3px solid orange;
		max-width: 400px;
		list-style-type: circle;
		font-size: 5em;
		font-family: 'Bad Script', cursive;
		&:hover {
			background-color: orange;
		}
		a {
			display: block;
			color: white;
			padding: 1.25em;
			&:hover{
				background-color: transparent;
				text-decoration: none;
			}
		}
	}
}

.categoryBookSnippet {
	li {
		font-size: 1.5em;
		padding: 1em;
	}
}