// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.author_image {
	max-width: 150px;
	height: auto;
}

img.small {
	max-width: 50px;
}

img.blank_avatar {
	max-width: 75px;
	height: auto;
}

img.fixed_size {
	max-width: 100px;
	height: 150px;
	border: solid 1px black;
}

