// Place all the styles related to the user_interface controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic);

#wrapper {
	display: none;
}

a.bookTitle {
	font-size: 2.5em;
	font-family: 'Droid Serif', serif;
	&:hover {
		text-decoration: none;
	}
}